header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #00000025;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 0.5rem;
  height: auto;
  border-bottom: 0.5px solid #424242;
  transition-delay: width 2s, height 4s;
}

header:hover {
  transition: width 2s, height 4s;
}

header h1 a {
  padding: 10px;
}

li {
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  margin-right: 1rem;
  cursor: pointer;
}

li a:hover {
  color: #929292;
}

ul {
  display: inline-block;
}