@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
}

a, li {
    text-decoration: none;
    list-style: none;
}

.inicio-evento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 1rem;
    transition: 0.5s;
  }
  
  .todos-evento {
    display: flex;
  }
  
  .caixa-imagem-evento {
    margin-right: 20px;
  }
  
  .caixa-todo-eventos {
    margin: 12px;
  }
  
  #titulo-evento {
    font-size: 1.5rem;
    cursor: default;
  }
  
  .inicio-titulo-evento {
    justify-content: space-around;
  }
  
  .icon-evento {
    height: 5rem;
    margin-top: 3px;
  }
  
  .caixa-amor-evento {
    margin-top: 14px;
  }
  
  .amor-evento {
    font-weight: bold;
    border:  1px solid #111;
    border-radius: 10.5px;
    padding: 7px;
  }
  
  .amor-evento:hover {
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,1) 0%, #f87316 20%, #2fad4c 50%, #2c5efb 80%, #7416a8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-delay: 2s;
  }
  

.evento-sec {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.evento-bloco {
    background-color: #ffffff;
    padding: 5rem;
    width: 60rem;
    align-self: center;
}

.titulo-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.evento-titulo {
    color: #000000;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.evento-subti {
  color: #c300ff;
  background-color: rgb(231, 231, 231);
  padding: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.evento-subti2 {
  color: #0d9b00;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight:500;
}

.evento-letra {
    color: #000;
    width: auto;
    font-size: 1.2rem;
}

.minimo {
  font-size: 0.9rem;
  color: #000;
}

.link {
  color: #070122;
}

.img-eventos {
  display: inline;
  max-width: 100%;
}

.box-images-eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  background-color: #ffffff;
}